/*classes for the home page.*/

/* Importing the font */
@font-face {
  font-family: 'Velvetica';  
  src: url('fonts/Velvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  
  
.homeBackgroundImage {
    /*remove the width and height after off the content has been addeed to the home page*/
    width: 100vw;
    height: 100vh; 
    background-image: url('images/9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:0;
    filter:brightness();
}

   .headingContainer {      
    padding: 20px;
    box-sizing: border-box; 
    font-size: 45px;
    color: white;
    text-align: center;                                            
    width: fit-content;       
  }


    .homeContainer {         
       width: 35%;              
       padding: 20px; 
        border-radius: 8px;
        text-align: center;    
        margin: auto auto auto auto ; 
        /*background-color: rgba(220, 218, 214, 0.7); */
        justify-content: center;
    }


/*navigation*/
.nav {
      position:fixed;
      width: 90%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding: 0 20px;
      border: 0.5px solid #bf9a3c;
      z-index: 1000; /* places it baove other elments*/
      top: 0;
      
    }

    .logo {
        height: 50px;
        width: 100px;
        object-fit: contain;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 20px; 
    }

    .nav-links a {
        text-decoration: none;
        color: #bf9a3c;
        font-weight: 500;
        transition: color 0.3s;
    }

    .nav-links a:hover {
        color: black;
    }

    .contactCircle {
        width: 110px;
        height: 30px;
        border-radius: 50px;
        background: #cbc2ab; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

     .serviceCircle{
        width: 200px;
        height: 50px;
        border-radius: 50px;
        background: #cbc2ab;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        font-weight: bold;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        list-style: none;
        display: none;
        flex-direction: column;
        padding: 20px;
        z-index: 100;
    }

    .sidebar a {
        margin: 10px 0;
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .menu-button {
        display: none;
        font-size: 26px;
        cursor: pointer;
    }

    .greenText{
        font-size: 20px;
        color: #214f38;
        font-weight:bold;
    }


/*size change for different screens*/
 @media(max-width: 800px) {
      .nav-links {
        display: none; /* hide links on small screens */
      }
      .menu-button {
        display: block; /* hamburger */
      }
    }

    @media(max-width: 400px) {
      .sidebar {
        width: 100%;
      }
    }

    /*bold font*/
    .boldFont {
        font-family: 'Velvetica', sans-serif;
        font-weight: bold;
    }

    /* call to action on home page*/
    @keyframes moveLeft{
     0%{
        transform: translateX(0);
        
     }

    100%{
        transform: translateX(+550px);
       
    } 

}
    .moveToLeft{
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    }


    /*move up*/

     @keyframes moveUp{
     0%{
        transform: translateY(0);
        
     }

    100%{
        transform: translateY(+48pxpx);
       
    } 

}
    .moveUp{
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    }



/*About us*/
 .homeBackground1{
 background-color: rgba(233, 210, 164, 0.7);

 }


.imageContainer{
  width:auto;
  height: auto;
}

/*section 2*/

.section2Container{
        align-items: center;
        background-color: rgba(124, 153, 138, 0.7);
        border-color: #214f38; 
        border-width: 5px;
        margin-left : 0; 
        margin-right : auto;
        border-radius: 30px;  
        text-align: center;
        overflow-wrap: break-word;
        display: flex;
        justify-items:flex-start;}

.headingFont{
    font-size:48px;
    color: white;
    }      